<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item list</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .product-img {
            width: 100px; /* Adjust the width of the image */
            height: auto; /* Maintain aspect ratio */
        }
    </style>
</head>
<body>
<h1>The list of items of user</h1>
<br>
<h1>USER LIST</h1>
<h4><a th:href="@{/user/add-product}">Add item</a></h4>
<h4><a th:href="@{/user/dashboard}">DashBoard</a></h4>
<table>
    <thead>
    <tr>
        <td>Image</td>
        <td>Id</td>
        <td>url</td>
        <td>Price</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u_list : ${list}">
        <td> <img class="product-img" th:src="@{${productService.getImageUrl(UrlCoding.extractProductName(u_list.getP_url()))}}"></img></td>
        <td th:text="${u_list.p_id}"></td>
        <td th:text="${u_list.p_url}"></td>
        <td th:text="${u_list.t_price}"></td>
        <td> <a class="btn btn-primary" th:href="@{'/user/deleteproduct/' + ${u_list.p_id}}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>